<p id="notice"><%= notice %></p>
<p>
	<b>Fullcontact:</b>
	<%= @sip_account.fullcontact %>
</p>
<p>
	<b>Useragent:</b>
	<%= @sip_account.useragent %>
</p>
<p>
	<b>Lastms:</b>
	<%= @sip_account.lastms %>
</p>
<p>
	<b>Context:</b>
	<%= @sip_account.context %>
</p>
<p>
	<b>Password:</b>
	<%= @sip_account.secret %>
</p>


