<h1>Listing phone_codes</h1>

<table>
  <tr>
    <th>Coe</th>
    <th>Region</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @phone_codes.each do |phone_code| %>
  <tr>
    <td><%= phone_code.coe %></td>
    <td><%= phone_code.region_id %></td>
    <td><%= link_to 'Show', phone_code %></td>
    <td><%= link_to 'Edit', edit_phone_code_path(phone_code) %></td>
    <td><%= link_to 'Destroy', phone_code, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Phone code', new_phone_code_path %>
